<html>

    <head>
        <link href="css/loginPage.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
    
        <div class="split-screen">
            <div class="left">
                <section class="copy">
                    <h1>Expand your horizon</h1>
                    <p>Easiest way to collab with musicians near you</p>
                </section>
            </div>
            <div class="right">
                <form>
                    <section class="copy">
                        <h2>Sign In</h2>
                    </section>

                    <div class="input-container email">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="text">
                    </div>
                    
                    <div class="input-container password">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="text" placeholder="Password">
                        <i class="far fa-eye-slash"></i>
                    </div>
                    <button class="signin-btn" type="submit">Sign In</button>
                </form>
            </div>
        </div>
    
        <script src="scripts/login.js"></script>
    </body>

</html>