<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Collabity</title>
        <link href="css/signupPage.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
    
        <div class="split-screen">
            <div class="left">
                <section class="copy">
                    <h1>Expand your horizon</h1>
                    <p>Easiest way to collab with musicians near you</p>
                </section>
            </div>
            <div class="right">
                <form method="POST" action="/signup">
                    <section class="copy">
                        <h2>Sign Up</h2>
                        <div class="login-container">
                            <p>Already have an account? <a href="login"><strong>Log In</strong></a></p>
                        </div>
                    </section>
                    
                    <div class="input-container name">
                        <label for="fname">Full Name</label>
                        <input id="fname" name="fname" type="text">
                    </div>
                    
                    <div class="input-container username">
                        <label for="username">Username</label>
                        <input id="username" name="username" type="text">
                    </div>
                    
                    <div class="input-container email">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="text">
                    </div>
                    
                    <div class="input-container password">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="text" placeholder="Must be at least 6 characters">
                        <i class="far fa-eye-slash"></i>
                    </div>

                    <div class="select-container who">
                        <label>Who are you?</label>
                        <select name="whoType">
                            <option value="Band">Band</option>
                            <option value="Producer">Producer</option>
                            <option value="Singer">Singer</option>
                            <option value="Songwriter">Songwriter</option>
                        </select>
                    </div>

                    <div class="select-container stageName">
                        <label for="stageName">What is your stage name?</label>
                        <input id="stageName" type="text" name="stageName" placeholder="Leave blank if none">
                    </div>
                    
                    <div class="select-container styleMusic">
                        <label>What is your style of music?</label>
                        <select name="styleMusic">
                            <option value="Alternative">Alternative</option>
                            <option value="Acapella">Acapella</option>
                            <option value="Blues">Blues</option>
                            <option value="Classical">Classical</option>
                            <option value="Country">Country</option>
                            <option value="Electronic">Electronic</option>
                            <option value="Folk">Folk</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Latin">Latin</option>
                            <option value="Pop">Pop</option>
                            <option value="Musicals">Musicals</option>
                            <option value="Rock">Rock</option>
                            <option value="R&B">R&B</option>
                            <option value="Rap">Rap</option>
                            <option value="Religious">Religious</option>
                        </select>
                    </div>

                    <div class="select-container goal">
                        <label>What best describes your goal?</label>
                        <select name="goal">
                            <option value="friends">Looking for new friends</option>
                            <option value="producer">Looking to find a music producer</option>
                            <option value="band">Looking for a band to play with</option>
                            <option value="collab">Looking to collaborate with someone</option>
                            <option value="unsure">Not sure yet</option>
                        </select>
                    </div>
                    
                    <div class="input-container cta">
                        <label class="checkbox-container">
                            <input type="checkbox">
                            Sign up for email updates.
                        </label>
                        <br>
                        <button class="signup-btn" type="submit">Sign Up</button>
                        <section class="copy legal">
                            <p><span class="small">By continuing, you agree to accept our <br> <a href="#">Privacy Policy</a> &amp; <a href="#">Terms of Service</a>.</span></p>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </body>

</html>